/*



!* ELEMENT SELECTOR *!
!*This will apply to all the paragraphs inside the html*!
p
{
    color: blue;
    font-family: Calibri;
}

!* CLASS SELECTOR *!
.paragraph_color_green
{
    color: green;
}

!* ID SELECTOR *!
#paragraph_color_pink
{
    color: deeppink;
}

!* ---------------------------------------- *!
!* GROUPING SELECTORS *!

!*1. Using commas (",") to define multiple selectors to use the same attributes *!
div, #paragraph_color_violet
{
    color: blueviolet;
}

!* ---------------------------------------- *!
!* COMBINING SELECTORS *!

!* 1. Element with Dot in between (ELEMENT SELECTOR) *!
p.big
{
    font-size: 40px;
}

!* 2. Element with > in between (CHILD SELECTOR) *!
!* Only the DIRECT child elements will apply these attributes. i.e. in our case, "article" element is the parent of "p" *!

article
{
    font-size: 60px;
    font-weight: lighter;
    font-optical-sizing: auto;
    font-stretch: expanded;
    font-family: Calibri;
}

article > p
{
    font-style: italic;
}

!* 3. Element with " " in between (DESCENDANT SELECTOR) *!
!* EVERY ELEMENT OF THIS TYPE will apply these attributes regardless of direct or indirect children. i.e. in our case, every "h1" element inside "article" will apply these attributes *!

article h1
{
    font-style: oblique;
    font-palette: dark;
    font-weight: bolder;
    font-size: xx-large;
}

!* 4. Combining Multiple Classes with <article> *!
.article_class1.article_class2
{
    color: brown;
    font-size: 50px;
}
article.article_class1.article_class2
{
    color: brown;
    font-size: 100px;
}
*/

/* New Style */

div{
    border: solid black;

    margin: 40px;
    padding: 20px;

}

div.style_1{
    font-size: 40px;
    color: red;
    font-family: Calibri, serif;
}

div.style_1 > p
{
    font-size: 30px;
    color: green;
    font-family: Calibri, serif;
    margin: 20px;
}
div.style_1 ul {
    border: solid red;
    margin: 20px;
    border-spacing: 20px;
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
}
div.style_1 li{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
}

a.linkStyle1{
    color: black;
    background-color: aqua;
    border: 1px solid black;
}
a{
    background-color: blueviolet !important;
}


a:hover{
    background-color: lightyellow;
    font-style: italic;
    text-decoration: none;
}

.style, .positioningParag{
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Trebuchet MS', sans-serif;
    color: green;
    
    text-transform: uppercase;
    text-align: left;
}
.style > p{
    color: red;
}

.box{
    
    border: blue dotted 10px;
    margin: 5px;
    padding: 20px;

    width: inherit;
    height: fit-content;
    box-sizing: border-box;
    
    color: red;
    background-color: rgba(101, 0, 255, 0.14);
}

#bg{
    background: url("../assets/imgs/1271889.jpg") no-repeat center;
    background-size: cover;
    
}

.positioningClass{
    width: 50px;
    height: 50px;
    
    border: 1px solid black;
    
    background-color: aqua;
    
    float: left;
    margin: 10px;
}

#p1{
    background-color: red;
    float: right;
    height: 300px;
}
#p2{
    background-color: black;
    height: 400px;
}
#p3{
    background-color: blueviolet;
}
#p4{
    background-color: green;
    clear: both;
}


*{
    box-sizing: border-box;
}

.parag{
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: lightyellow;

    text-align: left;

    margin: 20px;
    padding: 20px;
    
    width: 50%;
}
#parag_id_1{
    
    background-color: black;
    float: left;

}
#parag_id_2{
    
    background-color: blueviolet;
    float: right;

}

.parag p{
    border: black 3px solid;
    
}