/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 10px solid #7d177c;
}

.inner-box{
  background-color: red;
}

.white-text{
  color:white;
  font-size: 20px;
}