body{
    background-color: #FFEAC5;
    
}

.content{
    text-align: center;

}

/* For the Profile Content */
.profile{
    margin-bottom: 100px;
}

.profile-pic{
    height: 250px;
    width: 250px;
    object-fit: cover;
    
    border: 5px solid #603F26;
    border-radius: 50%;
}

#name-title{
    font-family: "Sacramento", serif;
    font-size: 4.625rem;
}

#occupation-title{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

/* Generic Body Layout */
.nav-fill{
    background-color: #322213;
   --bs-nav-pills-link-active-bg: #1c130b;
   --bs-nav-link-hover-color: #ffe9ce;
}

.nav-link{
    color: #FFDBB5;
}

section{
    background-color: #603F26;
    margin-bottom: 1px;
    padding: 30px;
    color: #FFDBB5;
}

section#contact{
    background-color: #fde8c3;
    color: #603F26;
}

.button-class{
    background-color: #FFDBB5;
    color: #603F26;
    font-weight: bold;
}

section>.section-title{

    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-decoration: 2px underline #FFDBB5;
    text-align: left;
    text-underline-offset: 15px;
}

#contact>.section-title{

    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-decoration: 2px underline #603F26;
    text-align: left;
    text-underline-offset: 15px;
}

section .item-block{
    background-color: #1c130b;
}


/* Project Section */
#projects .list-group-item{
    background-color: #352515;
    border: none;
    margin-bottom: 3px;
    margin-top: 10px;
}

/* Skills Section */
#skills img, #experience img, #projects img, #hobbies img{
    height: 90px;
    width: 90px;
}

/* Hobbies Section */
.hobby-cell, .skill-cell{
    background-color: #fde8c3;
    color: #603f26;
}
/* Education Section */
#education img{
    height: 50px;
    width: 50px;
}
